<section class="sidebar">
	<ul class="sidebar-menu">
		<li>
			<a>
				<i class="fa fa-dashboard"></i> <span>Dashboard</span>	
			</a>
		</li>
	
		<li class="treview">
			<a href>
				<i class="fa fa-edit"></i> <span>Cadastros</span>
				<i class="fa fa-angle-left pull-right"></i>
			</a>

			<ul class="treeview-menu">
				<li>
					<a><i class="fa fa-user-circle-o"></i> Clientes</a>
					<a><i class="fa fa-building"></i> Estabelecimentos</a>
					<a><i class="fa fa-shopping-bag"></i> Cupons</a>
				</li>
			</ul>
		</li>
	</ul>
</section>